<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li id="tripDetailTab1" role="presentation" class="active"><a href="" role="tab" {{action "showTab" 1}}>Emergency</a></li>
    <li id="tripDetailTab2" role="presentation" ><a href="" role="tab" {{action "showTab" 2}}>Intinerary</a></li>
    <li id="tripDetailTab3" role="presentation" ><a href="" role="tab" {{action "showTab" 3}}>Extra Info</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tripDetailTabContent1">
      <h3>Emergency information</h3>
      <p>
        <label>Freak out time:</label> {{trip.frickOutTime}}.<br>
        <label>Communication:</label> {{trip.communication}}.<br>
        <label>In Reach Map:</label> {{trip.inReachMap}}.<br>
        <label>Managing Agency:</label>  {{trip.managingAgency}}.
      </p>
      <p>
        In case of any emergency, please use this information to contact.
      </p>
      <h4>Local contact information</h4>
      <ul>
        <li><label>Name: </label>{{trip.localContactName}}</li>
        <li><label>Phone: </label>{{trip.localContactPhone}}</li>
        <li><label>Email: </label>{{trip.localContactEmail}}</li>
      </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="tripDetailTabContent2">
      <h3>Intinerary details.</h3>
      <div class="col-md-12 col-sm-12">
        <div class="checkout-content form-table ">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">Start Location</div>
            <div class="col-md-1">Start Time</div>
            <div class="col-md-2">End Location</div>
            <div class="col-md-1">End Time</div>
            <div class="col-md-1">Water</div>
            <div class="col-md-1">Hammok</div>
            <div class="col-md-1">Others</div>
          </div>
          {{#each trip.intineraries as |intineraryDay|}}
            <div class="row">
              <div class="col-md-2">{{intineraryDay.day}}</div>
              <div class="col-md-2">{{intineraryDay.startLocation}}</div>
              <div class="col-md-1">{{moment-format intineraryDay.startTime 'HH:mm'}}</div>
              <div class="col-md-2">{{intineraryDay.endLocation}}</div>
              <div class="col-md-1">{{moment-format intineraryDay.endTime 'HH:mm'}}</div>
              <div class="col-md-1">{{intineraryDay.water}}</div>
              <div class="col-md-1">{{intineraryDay.hammok}}</div>
              <div class="col-md-1">Others</div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tripDetailTabContent3">
      <h3>Extra information</h3>
      <p>Some more extra info about the trip</p>
      <ul>
        <li><label>Permits/fee</label>{{trip.fes}}</li>
        <li><label>Stove fuel:</label>{{trip.toveFuel}}</li>
        <li><label>Time to trail head:</label>{{trip.timeToTrailhead}}</li>
        <li><label>Direction Out:</label>{{trip.directionOut}}</li>
        <li><label>Condition caution:</label>{{trip.conditionCaution}}</li>
        <li><label>Animal caution:</label>{{trip.animalCaution}}</li>
        <li><label>Plant caution:</label>{{trip.plantCaution}}</li>
        <li><label>Fly issue:</label>{{trip.flyIssue}}</li>
        <li><label>Supermarket:</label>{{trip.supermarket}}</li>
        <li><label>Outdoor store:</label>{{trip.outdoorsStore}}</li>
        <li><label>Resources:</label>{{trip.resources}}</li>
        <li><label>Guides:</label>{{trip.guides}}</li>
      </ul>
    </div>
  </div>
</div>
