
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li id="tripTab1" role="presentation" class="active" {{action "tryStep" "1"}}>
    <i>
      <img src="images/features/features-ic-1.png" alt="Features" />
      <img src="images/features/features-ic-11.png" alt="Features" />
    </i>
    Big Picture
  </li>
  <li id="tripTab2" role="presentation" {{action "tryStep" "2"}}>
    <i>
      <img src="images/features/features-ic-2.png" alt="Features" />
      <img src="images/features/features-ic-22.png" alt="Features" />
    </i>
    Emergency Info
  </li>
  <li id="tripTab3" role="presentation" {{action "tryStep" "3"}}>
    <i>
      <img src="images/features/features-ic-3.png" alt="Features" />
      <img src="images/features/features-ic-33.png" alt="Features" />
    </i>
    Intinerary
  </li>
  <li id="tripTab4" role="presentation" {{action "tryStep" "4"}}>
    <i>
      <img src="images/features/features-ic-4.png" alt="Features" />
      <img src="images/features/features-ic-44.png" alt="Features" />
    </i>
    Extra info
  </li>
  <li id="tripTab5" role="presentation" {{action "tryStep" "5"}}>
      <i>
        <img src="images/features/features-ic-5.png" alt="Features" />
        <img src="images/features/features-ic-55.png" alt="Features" />
      </i>
      Share
  </li>
</ul>
<!-- Tab panes -->
<form {{action "nextStep" on="submit"}}>
<div class="tab-content container-fluid no-padding">

  <div id="tripTabContent1" role="tabpanel" class="tab-pane active">

    <div class="col-md-4 col-sm-5">
      <div class="trip-picture">
        <input id="input-image-1" value="{{trip.image}}" name="{{trip.image}}" type="file" class="file-loading" accept="image/*">
      </div>
    </div>
    <div class="col-md-8 col-sm-7 feature-content">
      <div class="checkout-content">
          <div class="col-md-7">
            <div class="input-group">
              {{input value=trip.name class="form-control" placeholder="Trip Name" required="true"}}
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group">
              {{input value=trip.organizer class="form-control" placeholder="Your Name"}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {{bs-datetimepicker date=trip.startDate required="true"}}
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                {{bs-datetimepicker date=trip.endDate}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!--<div class="input-group"> -->
              {{input value=trip.startLocation class="form-control" placeholder="Start Location"}}
            <!--</div>-->
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.endLocation class="form-control" placeholder="End location"}}
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group">
              {{textarea value=trip.goals cols="80" rows="3" class="form-control" placeholder="Trip Goals"}}
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.planedRoute class="form-control" placeholder="Planed Route"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.transportation class="form-control" placeholder="Transportation"}}
            </div>
          </div>
          <div class="col-md-12 text-right">
            <input type="submit" value="Next >>" class="btn-primary"/>
          </div>
      </div>
    </div>

  </div>
  <div id="tripTabContent2" role="tabpanel" class="tab-pane">
    <div class="col-md-4 col-sm-5">
      <div class="trip-picture">
        <img src="images/features/mac-pc.png" alt="Mac" />
      </div>
    </div>
    <div class="col-md-8 col-sm-7 feature-content">
      <h3>Emergency information</h3>
      <div class="checkout-content">
          <div class="col-md-7">
            <div class="input-group">
              {{input value=trip.comunication class="form-control" placeholder="Comunication"}}
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-group">
              {{input value=trip.freakOut class="form-control" placeholder="Freak out time"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.inReachMap class="form-control" placeholder="In Reach Map"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.localContactName class="form-control" placeholder="Local contact Name"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.localContactEmail class="form-control" placeholder="Local contact Email"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.localContactPhone class="form-control" placeholder="Local contact Phone"}}
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group">
              {{input value=trip.agency class="form-control" placeholder="Managing Agency"}}
            </div>
          </div>

          <div class="col-md-12 text-right">
            <input type="submit" value="Next >>" class="btn-primary"/>
          </div>
      </div>
    </div>
  </div>
  <div id="tripTabContent3" role="tabpanel" class="tab-pane">
    <div class="col-md-12 col-sm-12 feature-content">
      <div class="checkout-content form-table ">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">Start Location</div>
          <div class="col-md-1">Start Time</div>
          <div class="col-md-2">End Location</div>
          <div class="col-md-1">End Time</div>
          <div class="col-md-1">Water</div>
          <div class="col-md-1">Hammok</div>
          <div class="col-md-1">Others</div>
        </div>
          <div class="row">
            <div class="col-md-2">
              <h4>Day 1/3 - Mar 05</h4>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <label> Previous end location??</label>
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed start Time">
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed End Location">
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed End Time">
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <select>
                  <option>None</option>
                  <option>Low</option>
                  <option>Moderate</option>
                  <option>Normal</option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <select placeholder="Hammock Trees">
                  <option>Minimal</option>
                  <option>Low</option>
                  <option>Moderate</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <input type="checkbox">Fishing
                <a>Weather</a>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <h4>Day 2/3 - Mar 06</h4>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <label> Previous end location??</label>
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed start Time">
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed End Location">
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed End Time">
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <select>
                  <option>None</option>
                  <option>Low</option>
                  <option>Moderate</option>
                  <option>Normal</option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <select placeholder="Hammock Trees">
                  <option>Minimal</option>
                  <option>Low</option>
                  <option>Moderate</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <input type="checkbox">Fishing
                <a>Weather</a>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <h4>Day 3/3 - Mar 07</h4>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <label> Previous end location??</label>
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed start Time">
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed End Location">
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Planed End Time">
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <select>
                  <option>None</option>
                  <option>Low</option>
                  <option>Moderate</option>
                  <option>Normal</option>
                </select>
              </div>
            </div>
            <div class="col-md-1">
              <div class="input-group">
                <select placeholder="Hammock Trees">
                  <option>Minimal</option>
                  <option>Low</option>
                  <option>Moderate</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <input type="checkbox">Fishing
                <a>Weather</a>
              </div>

            </div>
          </div>

          <div class="col-md-12 text-right">
            <input type="submit" value="Next >>" class="btn-primary"/>
          </div>
      </div>
    </div>
  </div>
  <div id="tripTabContent4" role="tabpanel" class="tab-pane">
    <div class="col-md-4 col-sm-5">
      <div class="trip-picture">
        <img src="images/features/mac-pc.png" alt="Mac" />
      </div>
    </div>
    <div class="col-md-8 col-sm-7 feature-content">
      <div class="checkout-content">
          <div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Permits/Fees">
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.stoveFuel class="form-control" placeholder="Stove fuel"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.timeToTrailhead class="form-control" placeholder="Trasportation Time to trailhead"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{textarea value=trip.directionOut cols="40" rows="2" class="form-control" placeholder="Direction Out"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{textarea value=trip.conditionCaution cols="40" rows="2" class="form-control" placeholder="Condition Cautions"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{textarea value=trip.animalCaution cols="40" rows="2" class="form-control" placeholder="Animal Cautions"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{textarea value=trip.plantCaution cols="40" rows="2" class="form-control" placeholder="Plant Cautions"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{textarea value=trip.flyIssue cols="40" rows="2" class="form-control" placeholder="Mosquito/fly issues"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.supermarket class="form-control" placeholder="Supermarket"}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              {{input value=trip.outdoorsStore class="form-control" placeholder="Outdoors Store"}}
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group">
              {{input value=trip.resources class="form-control" placeholder="plannign resources"}}
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-group">
              {{input value=trip.guides class="form-control" placeholder="Attach hinking guide"}}
            </div>
          </div>

          <div class="col-md-12 text-right">
            <input type="submit" value="Finish >>" class="btn-primary"/>
          </div>
      </div>
    </div>
  </div>


  <div id="tripTabContent5" role="tabpanel" class="tab-pane">
    <div class="col-md-4 col-sm-5">
      <div class="trip-picture">
        <img src="images/features/mac-pc.png" alt="Mac" / />
      </div>
    </div>
    <div class="col-md-8 col-sm-7 feature-content">
      <h3 class="text-center">Well done! Now share with your friends and family</h3>
      <div class="checkout-content">
        <div class="row">
          <div class="col-md-4">
            <div class="share-div">
              <span><i class="fa fa-globe"></i></span>
              <p>Public</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="share-div">
              <span><i class="fa fa-lock"></i></span>
              <p>Password protected</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="share-div">
              <span><i class="fa fa-file-pdf-o"></i></span>
              <p>Download as PDF</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">
              <a class="btn btn-success">Or sign up to save.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div><!-- Tab panes /- -->
</form>
